/* Паттеры */

.content-section {
  width: 360px;
  box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: #131313;
}

.content-section_theme_bright {
  background-color: #fee42a;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.accent-span {
  display: block;
}

.content-section__subtitle {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
}

.content-section__introduction {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
}

/* Шапка сайта */

.header {
  padding: 24px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Логотип */

.header__logo {
  cursor: pointer;
}

.header__logo-image {
  width: 78.45px;
}

/* Навигационное меню */

.header__menu {
  display: block;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.header__menu-item {
  list-style-type: none;
  border-bottom: 1px solid #f5f5f5;
}

.header__menu-item_active {
  border-bottom: none;
}

.header__menu-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
}

/* Основное содержимое сайта */

.main {
  padding: 7px 0 60px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
}

/* Секция с заголовком */

.cover {
  background-image: url(../images/cover.svg);
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: top 25px left 20px;
}

.cover__title {
  padding: 0 24px 5px 20px;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: #ffffff;
}

/* Секция с интро */

.intro {
  padding: 30px 20px 38px;
}

/* Заголовок */

.intro__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #cccccc;
}

.intro__title {
  display: block;
}

.intro__date {
  white-space: nowrap;
}

/* Параграфы */

.intro__main-text {
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #f5f5f5;
}

/* Секция с причинами */

.reasons {
  padding: 40px 20px 39px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Заголовок и абзац под заголовком*/

.reasons .content-section__subtitle,
.reasons .content-section__introduction {
  color: #131313;
}

/* Список причин */

.content-section__list {
  padding-left: 18px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-section__list-item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #131313;
}

.content-section__list-accent {
  font-weight: 700;
}

/* Секция с инструкциями */

.how-to {
  padding: 40px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Заголовок и абзац под заголовком*/

.how-to .content-section__subtitle,
.how-to .content-section__introduction {
  color: #f5f5f5;
}

/* Список карточек */

.cards-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 20px;
  border-radius: 30px;
}

.card_theme_dark {
  background-color: #343434;
  color: #f5f5f5;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.card__author {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__author-photo {
  width: 100px;
}

.card__author-name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
}

.card__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}

/* Подвал сайта */

.footer {
  padding: 20px;
  border-top: 1px solid #fee42a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Абзац с копирайтом */

.footer__copy {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #f5f5f5;
}

/* Список ссылок */

.footer__menu-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__menu-item {
  list-style-type: none;
}

.footer__menu-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
}
