.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "inter", sans-serif;
  font-weight: 400;
}

/* ПАТТЕРНЫ */

.content-section {
  width: 360px;
  height: max-content;
  box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: rgb(19, 19, 19);
  color: rgb(245, 245, 245);
}

.content-section_theme_bright {
  background-color: rgb(254, 228, 42);
  color: rgb(19, 19, 19);
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* ШАПКА САЙТА */

.header {
  padding: 24px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 78.45px;
}

.header__menu {
  display: block;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-item {
  list-style-type: none;
  text-decoration: underline;
  cursor: pointer;
}

.header__menu-item_active {
  text-decoration: none;
}

.header__menu-link {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0;
}

/* ОСНОВНАЯ ЧАСТЬ САЙТА */

.main {
  display: flex;
  flex-direction: column;
}

/* СЕКЦИЯ С ЗАГОЛОВКОЙ */

.cover {
  padding: 9px 0 0 20px;
  background-image: url(../images/cover.svg);
  background-position: 20px 32px;
  background-size: 95% auto;
  background-repeat: no-repeat;
}

.cover__title {
  padding-right: 24px;
  font-family: "ebgaramond", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0;
}

/* СЕКЦИЯ С ВВЕДЕНИЕМ */

.intro {
  padding: 30px 20px 38px;
}

/* СЕКЦИЯ С ПРИЧИНАМИ */

.reasons {
  padding: 40px 20px;
}

/* СЕКЦИЯ С ОБЪЯСНЕНИЯМИ */

.how-to {
  padding: 40px 20px 60px;
}

/* ПОДВАЛ САЙТА */

.footer {
  padding: 20px;
}
